#### List - List is an built in data type in python to store the multiple datatypes in a single variable.

List items are ordered, changeable, and allow duplicate values.

Use indexes for operations on the list values.

In [73]:
# Example

List1=[1,2,"ram",34.78,True,33+2j]
print("List1:", List1)

List1: [1, 2, 'ram', 34.78, True, (33+2j)]

In [74]:
print(type(List1))

<class 'list'>

In [75]:
print(len(List1))

6

In [76]:
print(List1[1])
print(List1[2:5])

2
['ram', 34.78, True]

In [77]:
print(type(List1[4]))
print(type(List1[5]))
print(List1[5].real)

<class 'bool'>
<class 'complex'>
33.0

> list operations

append()	Adds an element at the end of the list

clear()	Removes all the elements from the list

copy()	Returns a copy of the list

count()	Returns the number of elements with the specified value

extend()	Add the elements of a list (or any iterable), to the end of the current list

index()	Returns the index of the first element with the specified value

insert()	Adds an element at the specified position

pop()	Removes the element at the specified position

remove()	Removes the item with the specified value

reverse()	Reverses the order of the list

sort()	Sorts the list

del Delete

In [78]:
# 1. Find the index of an element
print("Index of 34.78 in List1:", List1.index(34.78))

Index of 34.78 in List1: 3

In [79]:
# 2. Appending an element
List1.append("new_element is 34")
print("After appending:", List1)

After appending: [1, 2, 'ram', 34.78, True, (33+2j), 'new_element is 34']

In [80]:
# 3. Inserting an element at a specific position
List1.insert(1,100)
print("After inserting 100 at index 1:", List1)

After inserting 100 at index 1: [1, 100, 2, 'ram', 34.78, True, (33+2j), 'new_element is 34']

In [81]:
# 4. Pop the last element
List1.pop()
print("After popping the last element:", List1)

After popping the last element: [1, 100, 2, 'ram', 34.78, True, (33+2j)]

In [82]:
# pop an element at a specific index
List1.pop(3)
print("After popping the element at index 3:", List1)

After popping the element at index 3: [1, 100, 2, 34.78, True, (33+2j)]

In [83]:
# 5. Copying the list
# Note: The copy method creates a shallow copy of the list.
list2=List1.copy()
list2

[1, 100, 2, 34.78, True, (33+2j)]

In [84]:
# 6. COunt the occurrences of an element
print("count 34 in list1:", List1.count(34))
print("count 34.78 in list2:", list2.count(34.78))

count 34 in list1: 0
count 34.78 in list2: 1

In [85]:
# 7. extend the list with another list
a=56
List1.extend([a])
print(List1)

[1, 100, 2, 34.78, True, (33+2j), 56]

In [86]:
# 8. Remove an element
List1.remove(100)
print("After removing 100:", List1)

After removing 100: [1, 2, 34.78, True, (33+2j), 56]

In [87]:
# 9. sort the list
List1.sort(key=str)
print("After sorting List1:", List1)

After sorting List1: [(33+2j), 1, 2, 34.78, 56, True]

In [88]:
# 10. Reverse the list
List1.reverse()
print("After reversing List1:", List1)

After reversing List1: [True, 56, 34.78, 2, 1, (33+2j)]

In [89]:
#11. Clear the list
List1.clear()
print("After clearing List1:", List1)

After clearing List1: []

In [90]:
#13. delete the list
del List1
print("List1 has been deleted.")
print("Trying to print List1 after deletion will raise an error.")

List1 has been deleted.
Trying to print List1 after deletion will raise an error.

In [92]:
# 14. List reversing
list2=[1,3,8,2,80,45.14]
list2.reverse()
print(list2)

[45.14, 80, 2, 8, 3, 1]

In [93]:
#15. List comprehension
list3 = [x**2 for x in range(1,11,2)]
print("List comprehension result:", list3)

List comprehension result: [1, 9, 25, 49, 81]

In [94]:
#16. List comprehension with condition
list4 = [x for x in range(1, 21) if x % 2 == 0]
print("List comprehension with condition result:", list4)

List comprehension with condition result: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [95]:
#17. Nested list comprehension
list5 = [[x, x**2, x**3] for x in range(1, 4)]
print("Nested list comprehension result:", list5)

Nested list comprehension result: [[1, 1, 1], [2, 4, 8], [3, 9, 27]]