#### Set

Sets are used to store multiple items in a single variable.

A set is a collection which is unordered, unchangeable*, and unindexed.

In [18]:
set1={1,2,3,45,"Rahul"}
print(set1)
print(type(set1))

{1, 2, 3, 'Rahul', 45}
<class 'set'>

In [17]:
# print(set1[0])  # This will raise an error because sets are unordered and do not support indexing

In [21]:
set2={1,1,1,1,1,3,4,5,2,89,67,90,11,1100,34,1,0}
print(set2)  # Duplicates are removed in sets and the order is not guaranteed

{0, 1, 2, 3, 4, 5, 67, 34, 11, 1100, 89, 90}

In [22]:
# make the set in order
set3=sorted(set2)

In [23]:
set3
print(type(set3))  # This will be a list, not a set

<class 'list'>

In [24]:
set3=set(set3)  # Convert the sorted list back to a set
print(set3)  # Now this is a set again

{0, 1, 2, 3, 4, 5, 34, 67, 11, 1100, 89, 90}

In [28]:
names={"Rahul","Rohit","Ravi","Ramesh","Rajesh"}
print(names)
print("Rochit" in names)  # Check if "Rochit" is in the set, will return False
print("Rohit" in names)  # Check if "Rohit" is in the set, will return True
print("Rohit" not in names)  # Check if "Rohit" is not in the set, will return False

{'Rahul', 'Ramesh', 'Ravi', 'Rajesh', 'Rohit'}
False
True
False

### Once a set is created, you cannot change its items, but you can add new items.

> Adding item

In [34]:
set4={"Rahul","Rohit","Ravi","Ramesh","Rajesh"}
print(set4)

{'Rahul', 'Ramesh', 'Ravi', 'Rajesh', 'Rohit'}

In [35]:
set4.add("Ravindra")  # This will raise an error because sets do not have an append method

In [36]:
set4

{'Rahul', 'Rajesh', 'Ramesh', 'Ravi', 'Ravindra', 'Rohit'}

> Add Sets

To add items from another set into the current set, use the update() method.

In [38]:
s={1,2,3}
s1={"apple","banana","cherry"}
s.update(s1)  # This will add elements from s1 to s
print(s)  # Now s contains elements from both sets

{1, 2, 3, 'cherry', 'banana', 'apple'}

> Add Any Iterable

The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

In [39]:
s2 = {"apple", "banana", "cherry"}
l3 = ["kiwi", "orange"]

s2.update(l3)

print(s2)

{'cherry', 'orange', 'apple', 'kiwi', 'banana'}

In [42]:
s4={"apple", "banana", "cherry"}
s5={"kiwi", "orange"}
print(s4.union(s5))  # This will print the union of both sets (only to show the union operation)
print(s4 | s5)  # This is another way to perform the union operation using the pipe operator

{'cherry', 'orange', 'kiwi', 'banana', 'apple'}
{'cherry', 'orange', 'kiwi', 'banana', 'apple'}

> Remove elements

WE can remove elements by two methods -

(1). remove attribute ( if item is not present then rise error)
(2). discard attribute ( if item is not present then not rise error)

In [ ]:
s6={"apple", "banana", "cherry"}
s6.remove("apple")
print(s6)
# s6.remove("date")  # This will raise a KeyError because "date" is not in the set

In [45]:
s7={"apple", "banana", "cherry"}
s7.discard("apple")
print(s7)

{'cherry', 'banana'}

In [47]:
s7.discard("date")  # This will not raise an error, even though "date" is not in the set
print(s7)

{'cherry', 'banana'}

You can also use the pop() method to remove an item, but this method will remove a random item, so you cannot be sure what item that gets removed.

The return value of the pop() method is the removed item.

In [ ]:
s8={"apple", "banana", "cherry","date","fig","grape"}
s8.pop()  # This will remove and return an arbitrary element from the set
print(s8)  # The set after popping an element

{'cherry', 'date', 'grape', 'banana', 'apple'}