## abs()

In [6]:
x=abs(-6.4)
x

6.4

## all()

In [7]:
x=["apple","banana",1,5]
print(all(x))

y=[0,"apple",'banana',56]
print(all(y))

True
False

## any()

In [8]:
x=[0,5,3,"Rahul"]
print(any(x))

True

## ascii()

In [9]:
x=333445
print(ascii(x))

y="my name is rahul"
print(ascii(y))

z="This is not a Ascii character Ã¥"
print(ascii(z))

333445
'my name is rahul'
'This is not a Ascii character \xe5'

## bin()

In [10]:
x=34
print(bin(x))

0b100010

## bool()

In [11]:
x=bool(1)
y=1
print("type  of x is ",type(x))
print("type of y is ",type(y))

type  of x is  <class 'bool'>
type of y is  <class 'int'>

## bytearray()

In [12]:
x=5
print(bytearray(x))   # can be modified

bytearray(b'\x00\x00\x00\x00\x00')

## bytes()

In [13]:
x=4
print(bytes(x))   # cannot modified

b'\x00\x00\x00\x00'

## callable()

In [14]:
def x():
    print("x = ",5)
print(callable(x))

y=10
print(callable(y))

True
False

## chr()

In [15]:
x=66
print(chr(x))

B

##  compile()

In [16]:
x = compile('print(55)', 'test', 'eval')
exec(x)

55

In [17]:
x = compile('print(55)\nprint(88)', 'test', 'exec')
exec(x)

55
88

## eval()   
For single expression

In [18]:
x="print(5+3)"
eval(x)

x="bool(1)"
eval(x)

8

True

## exec()
for multiple expression, * executes the specified Python code.

In [19]:
age=43
x="if age>18:print('adult')"
exec(x)

y='name="Rahul"'
exec(y)

y='print("HI")'
eval(y)

adult
HI

## complex()

In [20]:
x=complex(3,10)
print(x)

(3+10j)

## delattr()

In [21]:
class new:
    def __init__(self):
        self.name="Rahul"
        self.age=22
        self.city="Jaipur"
obj1=new()
print(obj1.name)
print(obj1.age)
print(obj1.city)

del obj1.age
delattr(obj1,"city")
try:
    x=obj1.city
except AttributeError :
    raise TypeError("city is not abailable") from None

Rahul
22
Jaipur

TypeError: city is not abailable

When you raise an exception inside an except block, Python automatically links the new exception to the original one.

This is called implicit exception chaining, and it helps trace the full flow of what went wrong.

## dict()

In [ ]:
y=dict(name="rahul",age=34,city="KOTA")
print(y)

x=dict([(1,"rahul"),(2,"maya"),(4,"rabbit"),(5,"rahul_2")])
print(x)

## divmod()

The divmod() function returns a tuple containing the quotient  and the remainder when argument1 (dividend) is divided by argument2 (divisor).

In [ ]:
x = divmod(5, 2)
x

## enumerate

The enumerate() function takes a collection (e.g. a tuple) and returns it as an enumerate object.

In [ ]:
x = ('apple', 'banana', 'cherry')
y = enumerate(x)
# print(list(y))
d=dict(y)
print(d)

## format()

In [ ]:
x = format(0.5, '%')
print(x)

y=format(78,'b')  # binart format
print(y)

z=format(23,'X')  # hex format upper case
print(z)

## getattr

In [ ]:
class Person:
  name = "John"
  age = 36
  country = "Norway"

x = getattr(Person, 'age')
x

## setattr()

In [ ]:
class Person:
  name = "John"
  age = 36
  country = "Norway"
p=Person()
setattr(Person, 'age', 40)
print(p.age)
setattr(Person, 'height', 20)   # to set or insert a new variable
print(p.height)
hasattr(Person,"height")  # to check the attribte has exist or not

## help()

In [ ]:
help(hasattr)

## id()

In [ ]:
x = ('apple', 'banana', 'cherry')
y = id(x)
print(y)

In [ ]:
help(id)

In [ ]:
help(hash)

## isinstance()

The isinstance() function returns True if the specified object is of the specified type, otherwise False.

In [ ]:
x = isinstance(5, int)
print(x)

x = isinstance("Hello", (float, int, str, list, dict, tuple))
print(x)

class myObj:
  name = "John"

y = myObj()

x = isinstance(y, myObj)
print(x)

## iter()

In [ ]:
x = iter(["apple", "banana", "cherry"])
print(next(x))
print(next(x))
print(next(x))

# globals()

The globals() function returns the global symbol table as a dictionary.

A symbol table contains necessary information about the current program

In [ ]:
x = globals()
print(x)

In [ ]:
print(x['__name__'])

## map()

In [ ]:
def myfunc(a, b):
  return a + b

x = myfunc(('apple', 'banana', 'cherry'), ('orange', 'lemon', 'pineapple'))
print(x)


def myfunc(a, b):
  return a + b

x = map(myfunc, ('apple', 'banana', 'cherry'), ('orange', 'lemon', 'pineapple'))
print(list(x))

## memoryview()

In [ ]:
x = memoryview(b"Hello")

print(x)

#return the Unicode of the first character
print(x[0])

#return the Unicode of the second character
print(x[1])

## pow()

In [ ]:
x=pow(3,2)
x

## slice()

In [ ]:
a = ("a", "b", "c", "d", "e", "f", "g", "h")
x = slice(2)
print(a[x])

In [ ]:
a = ("a", "b", "c", "d", "e", "f", "g", "h")
x = slice(0, 8, 3)
print(a[x])

## vars()

In [ ]:
class Person:
    name="Rahul"
    city="Jaipur"

x=vars(Person)
x

# zip()

In [ ]:
a = ("John", "Charles", "Mike")
b = ("Jenny", "Christy", "Monica", "Vicky")

x = zip(a, b)
# print(list(x))
d=dict(x)
print(d)

## min()

In [ ]:
a=[1,3,4,6,89,0]
print(min(a))

0

## max()

In [ ]:
a=[3,5,6,1,2,22,99,90]
print(max(a))

99

## sort()

In [ ]:
a=[1,2,3,4,90,0,1,3,100,34,23,234,543,3333,1,78]
print(sorted(a))

[0, 1, 1, 1, 2, 3, 3, 4, 23, 34, 78, 90, 100, 234, 543, 3333]