##### Tuple

Tuples are used to store multiple items in a single variable.

A tuple is a collection which is ordered and unchangeable.

In [9]:
tuple1=1,2,3,4,5,6
print(tuple1)
print(type(tuple1))

(1, 2, 3, 4, 5, 6)
<class 'tuple'>

In [10]:
tuple2=(1,2,3,"ram",4.5,True)
print(tuple2)
print(type(tuple2))

(1, 2, 3, 'ram', 4.5, True)
<class 'tuple'>

In [11]:
# Accessing elements
print(tuple2[0])  # First element
print(tuple2[3])  # Fourth element

1
ram

In [12]:
# length of tuple
print(len(tuple2))  # Length of tuple

6

To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

In [13]:
tuple3=("apple")
print(tuple3)
print(type(tuple3))  # This is a string, not a tuple

apple
<class 'str'>

In [18]:
# Tuple Constructor

a=tuple((1,2,"apple","banana",56))
a

(1, 2, 'apple', 'banana', 56)

In [ ]:
# Counting occurrences of an element
print(a.count("apple"))  # Count occurrences of "apple"

1

TUPLE cant be editable

* to make changes in tuple we can convert it into list, make changes then convet edited list into tuple.

In [20]:
# Example

T=(1,2,3,"rahu",56,33.67)
print(T)
print(type(T))

(1, 2, 3, 'rahu', 56, 33.67)
<class 'tuple'>

Here we have created a tuple T. We letter found that In the tuple T there is an error of name at index 3. It should be "Rahul".

TO meke it correct, convert tuple into list then eidt it then convert back to tuple.

In [23]:
converted_tuple=list(T)
print(converted_tuple)  # Convert tuple to list
print(type(converted_tuple))  # Check type of converted variable

[1, 2, 3, 'rahu', 56, 33.67]
<class 'list'>

In [24]:
converted_tuple[3]="Rahul"
print(converted_tuple)  # Modified list

[1, 2, 3, 'Rahul', 56, 33.67]

In [25]:
T=tuple(converted_tuple)  # Convert list back to tuple
print(T)  # Print the modified tuple  
print(type(T))  # Check type of modified variable

(1, 2, 3, 'Rahul', 56, 33.67)
<class 'tuple'>

In [27]:
t=(1,2,3,4)
t2=(5,6,7,8)
# t1.extend(t2)  # This will raise an error since tuples do not have an extend method
# # Correct way to concatenate tuples 
t1 = t + t2  # Concatenate tuples
print(t1)  # Print the concatenated tuple

(1, 2, 3, 4, 5, 6, 7, 8)

Tuple Unpacking

In [ ]:
# example 1
a, b, c = (1, 2, 3)
print(a)  # Output: 1
print(b)  # Output: 2  
print(c)  # Output: 3

1
2
3

In [ ]:
# example 2
fruits = ("apple", "banana", "cherry")
x,y,z=fruits
print(x) 
print(type(x))

apple
<class 'str'>

In [ ]:
# example 3
fruits = ('apple', 'banana', 'cherry')
(x, *y) = fruits
print(y) 
print(type(y))

['banana', 'cherry']
<class 'list'>

In [33]:
# example 4
fruits = ('apple', 'banana', 'cherry', 'date')
(x, *y,z) = fruits
print(y)

['banana', 'cherry']